@import "./base.css";

body {
  background-color: #413f3f;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #605f5f;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #000000;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }

  .sidebar .logo {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  background-color: rgba(104, 103, 103, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  border-radius: 2%;
  max-width: 660px;
}

.grid-item:hover {
  background-color: rgba(162, 90, 90, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  border-radius: 2%;
  max-width: 660px;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #605f5f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #000000;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.align-left {
  text-align: left;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 2rem;
}

.detail-image {
  width: 70% !important;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 660px;
  min-width: 300px;
}

.detail-content {
  /* margin-left: 20px; */
  /* width: 70%; */
  text-align: justify;
}

/* .heading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
} */

@media screen and (max-width: 1000px) {
  .flex-center {
    flex-direction: column;
  }

  .poster-image {
    text-align: center !important;
  }

  .detail-image {
    text-align: center;
    width: 50% !important;
    /* height: 400px; */
    object-fit: cover;
    margin-left: 0;
    margin-right: 0;
  }

  .detail-content {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .flex-center {
    flex-direction: column;
    margin: 0;
  }

  .poster-image {
    text-align: center !important;
  }

  .detail-image {
    text-align: center;
    width: 80% !important;
    object-fit: cover;
    margin-left: 0;
    margin-right: 0;
  }

  .detail-content h2 {
    font-size: 1.2rem;
    margin: 0 !important;
  }
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.like-btn {
  background-color: #ce6464;
  color: #fff;
  border: none;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.like-btn:hover {
  background-color: #000000;
}

.dislike-btn {
  background-color: #3d3d6f;
  color: #fff;
  border: none;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.genre {
  background-color: #605f5f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
}

.cast-flex {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  margin: 20px 0;

}

.cast-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 10px;
}

.casts {
  margin: 0 10px;
  width: 120px;
}

.mt-5 {
  margin-top: 5rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.nodata-flex {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.go-home {
  background-color: #605f5f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
}

.logo {
  margin-left: 20px;
}

[v-cloak] {
  display: none;
}

.p-2 {
  padding: 10px 15px;
}

.responsive {
  width: 95%;
  height: auto;
  overflow-x: scroll;
}

.table-image {
  width: 80px;
  height: auto;
  object-fit: cover;
  margin: 0 10px;
}

.liked-table {
  background-color: #252525;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1.5rem;
}

.liked-table tr {
  background-color: #3d3d3d;
  color: #ffffff;
  padding: 5px !important;
}

.liked-table tr:hover {
  background-color: #494d4d;
  color: #fff;
}

.liked-table td {
  padding: 10px 5px !important;
}

.table-btn {
  padding: 5px 10px;
}

.title {
  width: 25%;
  font-weight: 600;
  min-width: 100px;
}

.description {
  width: 50%;
  min-width: 200px;
}

.vertical-top {
  vertical-align: top !important;
}

.tabs {
  padding: 5px 10px;
  border: none;
  background-color: #605f5f;
  color: #fff;
}

.tabs:hover {
  background-color: #151515;
}

.tabs.active {
  background-color: #000000;
}